version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: mentorai-rabbitmq
    ports:
      - "5672:5672"   # porta AMQP (usada pelo Spring)
      - "15672:15672" # porta da UI de management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest